<div class="container">
  <!--posts div-->
  <div class="row unreadpostit"><br>
    <p style="font-size: 20px; margin-left:1em;"><b><i class="material-icons">youtube_searched_for</i>&nbsp;아직 읽지 않은 기사들</b></p>
    <%= render partial: "postcard" %>  
  </div>
</div>