/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require owl
 *= require icomoon
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

 #background {
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-size: cover;
     background-image: url('/img/home/desktexture4.jpg');
     background-repeat: no-repeat;
     /*background-attachment: fixed;
     background-size: 100%;
     opacity: 0.8;
     filter:alpha(opacity=80);*/
 }

 /* 회원가입과 로그인 창에 들어가는 css */
 .usercard{
   width: 70%;
   height: 50%;
   padding: 1em;
   background-color: white;
   margin: auto;
   margin-top: 3em;
 }


 /* 로그인페이지, 회원가입페이지, news2.html.erb의 pin부분 */
 .pin {
   background-color: #aaa;
   display: block;
   height: 32px;
   width: 4px;
   position: absolute;
   left: 50%;
   top: -16px;
   z-index: 1;
 }
 .pin:after {
   background-color: #A31;
   background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
   border-radius: 50%;
   box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
               inset 3px 3px 3px hsla(0,0%,100%,.2),
               inset -3px -3px 3px hsla(0,0%,0%,.2),
               23px 20px 3px hsla(0,0%,0%,.15);
   content: '';
   height: 20px;
   left: -8px;
   position: absolute;
   top: -10px;
   width: 20px;
 }
 .pin:before {
   background-color: hsla(0,0%,0%,0.1);
   box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
   content: '';

   height: 24px;
   width: 2px;
   left: 0;
   position: absolute;
   top: 8px;

   transform: rotate(57.5deg);
   -moz-transform: rotate(57.5deg);
   -webkit-transform: rotate(57.5deg);
   -o-transform: rotate(57.5deg);
   -ms-transform: rotate(57.5deg);

   transform-origin: 50% 100%;
   -moz-transform-origin: 50% 100%;
   -webkit-transform-origin: 50% 100%;
   -ms-transform-origin: 50% 100%;
   -o-transform-origin: 50% 100%;
 }
