// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-white{
  font-weight:bold;
  color: black;
}

// url입력창에서 postit효과
.urlpostit{
  background:#90caf9;
  -webkit-transform:rotate(.5deg);
  -o-transform:rotate(.5deg);
  -moz-transform:rotate(.5deg);
  padding: 1.5em;
  margin-top: 4em;
  width: 100%;
  height: 120px;
}

 .contextpostit{
   background:#90caf9;
   -webkit-transform:rotate(1deg);
   -o-transform:rotate(1deg);
   -moz-transform:rotate(1deg);
   width: 100%;
   height: 400px;
   margin-top: 4em;
   padding: 1em;
 }

 .unreadpostit{
   background:white;
   -webkit-transform:rotate(-.5deg);
   -o-transform:rotate(-.5deg);
   -moz-transform:rotate(-.5deg);
   width: 102.5%;
   padding: 1em;
 }
